@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
:root {
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --Red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
  --bg-section: hsl(230, 25%, 95%);
  --white: #fff;
  --family: "Poppins", sans-serif;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--family);
}
html {
  overflow-x: hidden;
}
a,
li {
  text-decoration: none;
  list-style: none;
}
a,
button {
  cursor: pointer;
}
button,
input {
  border: none;
  outline: none;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
